.header {
   padding: 20px 15px;
   position: absolute;
   width: 100%;
   top:0;
   left: 0;
   z-index: 99;

 

}


/***header logo a beginning****/
header .logo a {
   display: inline-block;
   text-align: center;
   line-height: 36px;
   height: 40px;
   width: 50px;
   font-size: 24px;
   color:var(--skin-color1);
   border-radius: 50%;
   border:2px solid var(--skin-color1);
   font-weight: 600;
   text-transform: uppercase;
}

/***header logo a ending****/
header .hamburger-btn {
   height: 40px;
   width: 40px;
   display: flex;
   align-items: center;
   cursor: pointer;
   border-radius: 50%;
   justify-content: center;
   transition: all 0.3s ease;

}


/**Creates a radius circle***/
header .hamburger-btn::after{
    border-radius: 50%;
}   



